.color-logo {
	-webkit-animation: change-color 2s linear 1;
	-webkit-transform-origin: background-color 2s;
}

@-webkit-keyframes change-color {
	0% {
	}

	100% {
		background-color: #50972B;
	}
}

.img-1,
.img-2,
.img-3 {
	width: 30%;
	opacity: 1;
	margin: 0 auto;
	padding: 0;
	-webkit-animation: opa 6s linear 1;
}

.img-4 {
	width: 20%;
	margin: 0 auto;
	padding: 0;
	-webkit-animation: flash 6s linear infinite;
}

@-webkit-keyframes opa {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit keframes flash {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.js-img-1-animate {
	-webkit-animation: opa 1s ease-out 1 forwards;
}

.js-img-2-delay-1 {
	-webkit-animation-delay: 100ms;
}

.js-img-3-delay-2 {
	-webkit-animation-delay: 200ms;
}

.js-img-4-delay-3 {
	-webkit-animation-delay: 250ms;
}